/* App */
$inputBoarder: #106cc8;
$buttonBackground: #106cc8;
$buttonHover: #28739e;
$router-link-active: #106cc8;

/* ToolBar */
$toolbar-background-color: #106cc8;

/* Nav */
$nav-text-color: #8f8f8f;
$nav-boarder-color: #e1e1e1;
